extends ../common/layout

block layout-content 
  h1 Admin Page
  h2 Please select a collection to manage
  h3
    a.adminlist(href="/admin/category/list") Category
    a.adminlist(href="/admin/grocery/list") Grocery