extends common/layout

block layout-content 
  // Search Section
  #search
    input(type="text" list="itemList" id="searchOption")
    datalist#itemList
    button#searchButton search

  // Main Heading Section
  h1

  // Opening Section
  #opening.content
    h1 Welcome to Tommie's Grocery Price Checker!
    p Please select a category to begin your search.
    
  // Table Section
  //- table
  //-   thead
  //-     tr
  //-       th Store
  //-       th Price
  //-       th Unit
  //-       th Price/unit

  //-   tbody
  //-   each data in groceryData
  //-     tr
  //-       td #{data.store}
  //-       td #{data.price}
  //-       td #{data.unit}
  //-       td #{data.price_per_unit}

    //- form(method="post")
    //-   // Input Fields
    //-   tr
    //-     td: input(type="text" id="store" name="store")
    //-     td: input(type="number" step="any" id="price" name="price")
    //-     td: input(type="number" step="any" id="unit" name="unit")
    //-     td: input(type="number" step="any" id="pu" name="pu")

      //- // Button Section
      //- tr
      //-   td(colspan="4")
      //-     #curd
      //-       button#cal Calculate
      //-       button#add Add
      //-       button#edit Edit

      //- // Prompt Section
      //- tr
      //-   td(colspan="4")
      //-     #prompt