extends ../../common/layout

block layout-content 
    h1 Add data to Grocery
    if err
      p #{err}
    form.inputform(method="post", action="/admin/category/add")
      div 
        label(for="name") Name: 
        input(type="text", id="name", name="name")
      div 
        label(for="parentCategoryId") Parent Category: 
        select#parentCategoryId(name="parentCategoryId")
          option(value="") — None —
          each parent in parents
            option(value=parent._id)= parent.name
      div 
        button.confirmButton(type="submit") Add
        a.cancelButton(href="/admin/category/list") Cancel