extends ../../common/layout

block layout-content 
    h1 Add New Record to Grocery
    if err
      p #{err}
    form.inputform(method="post", action="/admin/grocery/add")
      div 
        label(for="store") Store: 
        input(type="text", id="store", name="store")
      div 
        label(for="price") Price: 
        input(type="number", id="price", name="price", step="0.01", min="0")
      div 
        label(for="unit") Unit: 
        input(type="number", id="unit", name="unit")
      div 
        label(for="price_per_unit") Price/Unit: 
        input(type="number", id="price_per_unit", name="price_per_unit", step="0.001", min="0")
      div 
        label(for="category_id") Category: 
        input(type="text", id="category_id", name="category_id")
      div 
        button.confirmButton(type="submit") Add
        a.cancelButton(href="/admin/grocery/list") Cancel