extends ../../common/layout

block layout-content 
    h1 Update record in Grocery
    if err
      p #{err}
    form.inputform(method="post", action=`/admin/grocery/update/${grocery._id}`)
      div 
        label(for="store") Store: 
        input(type="text", id="store", name="store")
      div 
        label(for="price") Price: 
        input(type="text", id="price", name="price")
      div 
        label(for="unit") Unit: 
        input(type="number", id="unit", name="unit")
      div 
        label(for="price_per_unit") Price/Unit: 
        input(type="number", id="price_per_unit", name="price_per_unit")
      div 
        label(for="category") Category: 
        input(type="text", id="category", name="category")
      div 
        button.confirmButton(type="submit") Update
        a.cancelButton(href="/admin/grocery/list") Cancel