header#header 
  h2#site
    a(href="/") Tommie's Grocery Price Checker



  .navbutton
      a(href="/") Admin Dashboard

  if loggedIn 
    .navbutton 
      a(href="/user/logout") Logout
  else 
    .navbutton 
      a(href="/user/login") Login