header#header 
  h2#site
    a(href="/") Tommie's Grocery Price Checker

  nav#navigation(aria-label="navigation" class="content-wrapper")
    ul.menu
      li#hstarch.headitem
        a(href="#") Starch
        #starch.item
          each item in ['oat', 'potato', 'beans']
            a.sitem(href="#")= item
      li#hdairy.headitem
        a(href="#") Dairy
        #dairy.item
          each item in ['egg', 'yogurt']
            a.sitem(href="#")= item
      li#hmeat.headitem
        a(href="#") Meat
        #meat.item
          each item in ['chicken', 'pork', 'fish']
            a.sitem(href="#")= item
      li#hvf.headitem
        a(href="#") VegFruit
        #vf.item
          each item in ['veg', 'berries', 'fruits']
            a.sitem(href="#")= item
      li#hother.headitem
        a(href="#") Others
        #other.item
          a.sitem(href="#") others

  .navbutton
      a(href="/admin/admin") Admin

  if loggedIn 
    .navbutton 
      a(href="/user/login") Logout
  else 
    .navbutton 
      a(href="/user/login") Login